<%- include("./partials/header.ejs")%>
<div style="color: <%- colour %>;">
    <h1>Thank you</h1>
    <p>Hi, <%- name %>.</p>
    <p>Thank you for your message: "<%- message %>"</p>
    <p>I see you also like the colour <%- colour %>,
    so we changed the text colour for you.</p>
    <p>Let's hang out on <%- day %>.</p>
    <img src="images/thumbsUp.gif" alt="thumbs up">
</div>
<%- include("./partials/footer.ejs")%>
